In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import pandas as pd 
import numpy as np 

%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns

import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.compose import make_column_transformer
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df_train=pd.read_csv('../input/titanic/train.csv')
df_test=pd.read_csv('../input/titanic/test.csv')

In [4]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### Null value treatment & preprocessing

In [7]:
#Replacing null values in age column with mean of age 
df_train['Age'].fillna(df_train['Age'].mean(),inplace=True)


#Dropping cabin column as
df_train=df_train.drop(['Cabin','Name','Ticket','Embarked','Fare'],axis=1)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 48.9+ KB

In [9]:
le=LabelEncoder()
df_train['Sex']=le.fit_transform(df_train['Sex'])

#### Building the model

In [10]:
X=df_train[['Pclass','Sex','Age','SibSp','Parch']]
y=df_train['Survived']

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=85)

In [12]:
X_train=sm.add_constant(X_train)
mlr_1=sm.OLS(y_train,X_train).fit()
print(mlr_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.399
Model:                            OLS   Adj. R-squared:                  0.394
Method:                 Least Squares   F-statistic:                     81.97
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           5.93e-66
Time:                        10:33:30   Log-Likelihood:                -280.28
No. Observations:                 623   AIC:                             572.6
Df Residuals:                     617   BIC:                             599.2
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.3444      0.070     19.088      0.000       1.206       1.483
Pclass        -0.1797      0.020     -9.188      0.000      -0.218      -0.141
Sex           -0.5111      0.034    -15.064      0.000      -0.578      -0.444
Age           -0.0058      0.001     -4.503      0.000      -0.008      -0.003
SibSp         -0.0444      0.016     -2.800      0.005      -0.076      -0.013
Parch         -0.0288      0.022     -1.319      0.188      -0.072       0.014
==============================================================================
Omnibus:                       21.874   Durbin-Watson:                   2.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.433
Skew:                           0.474   Prob(JB):                     8.16e-06
Kurtosis:                       3.063   Cond. No.                         154.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
X_test=sm.add_constant(X_test)
y_pred=mlr_1.predict(X_test)
y_pred.head()

214    0.077617
450    0.163253
843    0.094201
528    0.068127
401    0.143454
dtype: float64

In [14]:
rmse=np.sqrt(mean_squared_error(y_test,y_pred))
r2=r2_score(y_test,y_pred)

print('RMSE:', rmse)
print('R-Squared/Accuracy:', r2*100)

RMSE: 0.37788637417711674
R-Squared/Accuracy: 37.293154921046764

#### Processing the test dataset

In [15]:
df_test['Age'].fillna(df_test['Age'].mean(),inplace=True)
df_test=df_test.drop(['Cabin','Name','Ticket','Embarked','Fare'],axis=1)

le=LabelEncoder()
df_test['Sex']=le.fit_transform(df_test['Sex'])

In [16]:
df_test_fit=df_test[['Pclass','Sex','Age','SibSp','Parch']]
df_test_fit.head()

   Pclass  Sex   Age  SibSp  Parch
0       3    1  34.5      0      0
1       3    0  47.0      1      0
2       2    1  62.0      0      0
3       3    1  27.0      0      0
4       3    0  22.0      1      1

In [17]:
df_test_fit=sm.add_constant(df_test_fit)
y_predict=mlr_1.predict(df_test_fit)
y_predict.head()

0    0.094201
1    0.488476
2    0.114588
3    0.137659
4    0.604542
dtype: float64

In [18]:
output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': y_predict})
output.to_csv('submission.csv', index=False)
print("Submission was successfully saved!")

Submission was successfully saved!